<div class="container">

    <img src="{{ absolute_url('http://sandrinebarou.fr/projet4/web/bundles/oclouvre/images/louvre3.jpg') }}" alt="Louvre logo">
    <br>
    <h3>Vos tickets pour le Louvre</h3>
    <br>
    <div>
        Bonjour ! Vous avez acheté des tickets pour le musée du Louvre sur notre site de billetterie en ligne, retrouvez ci-dessous le récapitulatif de votre commande et le code de réservation associé :<br>
        <br>
    </div>

    <hr>

    <br>

    <p><b>{% if quantite == 1 %}Date de visite le {{ visitDay|date("d/m/Y") }} - {{ quantite }} ticket<br> {% endif %}</b></p>
    <p><b>{% if quantite != 1 %}Date de visite le {{ visitDay|date("d/m/Y") }} - {{ quantite }} tickets<br> {% endif %}</b></p>

    <div>
        Votre email : {{ email }}<br>
        <br>
    </div>

    <div>
        Total de la commande : {{ total }} €<br>
        <br>
    </div>

    <div>
        Votre code de réservation : {% for resa in code %}
            {{ attribute(resa, 'code') }}
        {% endfor %}<br>
        <br>
    </div>

    <div>
        {% for ticket in tickets %}
            <div class="resume_billets center">
                {{ attribute(ticket, 'firstname') }} {{ attribute(ticket, 'lastname') }} - {{ attribute(ticket, 'country') }}<br>
                {{ attribute(ticket, 'birthDate')|date('d/m/Y') }} {% if attribute(ticket, 'discount') == 1 %}- Tarif réduit {% endif %}<br>
            </div>
            <br>
        {% endfor %}
    </div>


    Si vous souhaitez à nouveau passer commande, rendez-vous sur <a href="{{ url('oc_louvre_index') }}">la billetterie du Louvre</a>.<br>
    <br>

    Merci de votre visite !

</div>
