{% extends "OCLouvreBundle:Louvre:1_index.html.twig" %}

{% block joconde %}
{% endblock %}

    {% block menu %}

        <div class="row">
            <div id="page_title" class="col s12 m12 l12 center">COMMANDER UN TICKET </div>
            <div id="page_subtitle_1_resume" class="col s4 center">Date de visite</div>
            <div id="page_subtitle_2_resume_active" class="col s4 center">Identité des visiteurs</div>
            <div id="page_subtitle_3_resume" class="col s4 center">Paiement</div>
        </div>

    {% endblock %}

{% block form_part %}

    <div class="container">
        <h5 id="recap" class="center">Récapitulatif de votre commande</h5>

        <div class="container center">
            <p class="resume_p1"><b>{% if quantite == 1 %}Vous souhaitez venir au musée le {{ visitDay|date("d/m/Y") }} et commander {{ quantite }} ticket. <br> Cliquez sur 'Retour' pour modifier les informations saisies. <br> {% endif %}</b></p>
            <p class="resume_p2"><b>{% if quantite != 1 %}Vous souhaitez venir au musée le {{ visitDay|date("d/m/Y") }} et commander {{ quantite }} tickets. <br> Cliquez sur 'Retour' pour modifier les informations saisies. <br> {% endif %}</b></p>

            <div>
                <span class="resume_email">Votre email : {{ email }}</span> <span class="resume_total">Prix : {{ total }} €</span><br>
            </div>

            <hr>
            <br>
            <div>

                {% for ticket in tickets %}
                    <div class="resume_billets center">
                        {{ attribute(ticket, 'firstname') }} {{ attribute(ticket, 'lastname') }} - {{ attribute(ticket, 'country') }}<br>
                        {{ attribute(ticket, 'birthDate')|date('d/m/Y') }} {% if attribute(ticket, 'discount') == 1 %}- Tarif réduit  - sur justificatifs (Etudiants, employés du musée, d’un service du Ministère de la Culture, militaires...){% endif %}<br>
                    </div>
                    <br>
                {% endfor %}
            </div>
        </div>



        <br>
        <a href="{{ path('oc_louvre_date') }}" id="resume_btn1" class="col s5 m5 l4 waves-effect waves-light btn">
            Retour
        </a>
        <span class="col s2 m2 l4"></span>
        <a href="{{ path('oc_louvre_payment') }}" id="resume_btn2" class="col s5 m5 l4 waves-effect waves-light btn">
            Paiement
        </a>

    </div>
{% endblock %}


{% block body %}
    <div id="blank3"></div>
{% endblock %}


{% block hidden_part %}
    <div id="blank4"></div>
{% endblock %}

