{% extends "OCLouvreBundle:Louvre:1_index.html.twig" %}

     
{% block menu %}    

    <div id="page_title" class="col-sm-12 center">COMMANDER UN TICKET </div>   
    <div id="page_subtitle_1" class="col-sm-4 center">Date de visite</div>
    <div id="page_subtitle_2" class="col-sm-4 center">Identité des visiteurs</div>
    <div id="page_subtitle_3_active" class="col-sm-4 center">Paiement</div>    
   
{% endblock %}

{% block form_part %}    

<div class="well" id="formulaire">   
    
{{ form_start(form) }}     
    
    <div class="col s12">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>    
        

{{ form_end(form) }}    

</div> 


{% endblock %}    
    
{% block body %}     
    
<a href="{{ path('oc_louvre_ticket') }}" class="col-sm-2 btn btn-primary">Retour</a>  
<span class="col-sm-6"></span>     

{# Render CSRF token etc .#}
<div style="display:none">
    {{ form_rest(form) }}
</div>

<input id="bouton" type="submit" class="col-sm-4 btn btn-primary" value="Paiement">
    
{% endblock %}



{% block hidden_part %} 
    
{% endblock %}

