{% extends "OCLouvreBundle:Louvre:index.html.twig" %}

     
{% block menu %}    

    <div id="page_title" class="col-sm-12 center">COMMANDER UN TICKET </div>   
    <div id="page_subtitle_1_active" class="col-sm-4 center">Date de visite</div>
    <div id="page_subtitle_2" class="col-sm-4 center">Identité des visiteurs</div>
    <div id="page_subtitle_3" class="col-sm-4 center">Paiement</div>    
   
{% endblock %}

{% block form_part %}    
  
<div class="well">   
    
{{ form_start(form) }}

    <div>
        {{ form_label(form.date) }}
        {{ form_widget(form.date) }}
        {{ form_errors(form.date) }}
    </div>
    <div>
        {{ form_label(form.number) }}
        {{ form_widget(form.number) }}
        {{ form_errors(form.number) }}
    </div>
    <div class="well"></div>      
      
       
    <div class="well">
        <div id="ajaxholder" ></div>
    </div>   
    
    <a href="{{ path('oc_louvre_index') }}" class="col-sm-2 btn btn-primary">
        Accueil
    </a>  
    <span class="col-sm-6"></span>   
    
        {# Render CSRF token etc .#}
    <div style="display:none">
        {{ form_rest(form) }}
    </div>
    
    <input id="bouton" type="submit" class="col-sm-4 btn btn-primary" value="Poursuivre ma commande">
    
{{ form_end(form) }}    
     
    
    
</div>     

{% endblock %}


{% block body %} 
    
{% endblock %}


{% block hidden_part %} 
    
{% endblock %}



