{% extends "OCLouvreBundle:Louvre:index.html.twig" %}
    
{% block menu %}    

    <div id="page_title" class="col-sm-12 center">COMMANDER UN TICKET </div>   
    <div id="page_subtitle_1" class="col-sm-4 center">Date de visite</div>
    <div id="page_subtitle_2_active" class="col-sm-4 center">Identité des visiteurs</div>
    <div id="page_subtitle_3" class="col-sm-4 center">Paiement</div>    
     
{% endblock %}

{% block form_part %}      
  
<div class="well well-sm">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {{ form_errors(form, {'attr': {'class': 'alert alert-danger fade in'}})  }}


  <div class="form-group">
    {{ form_label(form.firstName, "Prénom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.firstName, {'attr': {'class': 'alert alert-danger fade in'}})  }}
    <div class="col-sm-8">
      {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>


  <div class="form-group">
    {{ form_label(form.lastName, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.lastName, {'attr': {'class': 'alert alert-danger fade in'}})  }}
    <div class="col-sm-8">
      {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
 
  <div class="form-group">
    {{ form_label(form.country, "Pays", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.country, {'attr': {'class': 'alert alert-danger fade in'}})  }}
    <div class="col-sm-8">
      {{ form_widget(form.country, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>
    
    
<div class="form-group"> 
<div class="col-sm-6 center">
{{ form_row(form.birthDate) }}
</div>
<span class="col-sm-2"></span>  
<div class="col-sm-2 center">    
{{ form_row(form.discount) }}
</div>
<span class="col-sm-2"></span>        
</div>

    
<a href="{{ path('oc_louvre_client') }}" class="col-sm-2 btn btn-primary">
Retour
</a>  
<span class="col-sm-6"></span>        
{{ form_widget(form.submit, {'attr': {'class': 'col-sm-4 btn btn-primary'}}) }}

  {{ form_rest(form) }}

  {{ form_end(form) }}
</div>

{% endblock %}


    
    
{% block body %} 
    
{% endblock %}


{% block hidden_part %} 
    
{% endblock %}