{% extends "OCLouvreBundle:Louvre:1_index.html.twig" %}
    
{% block menu %}    

    <div id="page_title" class="col-sm-12 center">COMMANDER UN TICKET </div>   
    <div id="page_subtitle_1" class="col-sm-4 center">Date de visite</div>
    <div id="page_subtitle_2_active" class="col-sm-4 center">Identité des visiteurs</div>
    <div id="page_subtitle_3" class="col-sm-4 center">Paiement</div>    
     
{% endblock %}

{% block form_part %}    
  
<div class="well">
    
{{ form_start(form) }}    
    
  
    <div id="form_tickets">
        <div class="input-field col s4">
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName) }}
            {{ form_errors(form.firstName) }}
        </div>    
        <div class="input-field col s4">
            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName) }}
            {{ form_errors(form.lastName) }}
        </div>    
        <div class="input-field col s4">
            {{ form_label(form.country) }}
            {{ form_widget(form.country) }}
            {{ form_errors(form.country) }}
        </div>    
        <div class="col s4">        
            {{ form_label(form.birthDate) }}
            {{ form_widget(form.birthDate) }}
            {{ form_errors(form.birthDate) }}
        </div> 
        
        <div class="col s6 offset-s2">
            <p>
            <label for="filled-in-box">{{ form(form.discount) }}</label>
            <input type="checkbox" class="filled-in" id="filled-in-box"/>
            <label for="filled-in-box">{{ form_widget(form.discount) }}</label>
            {{ form_errors(form.discount) }}
            </p>  
         </div>

        
        
            {# Render CSRF token etc .#}
            <div style="display:none">
                {{ form_rest(form) }}
            </div>

    </div>

    
    <div id="template">
    </div> 
        
    <a href="{{ path('oc_louvre_date') }}" class="col-sm-2 waves-effect waves-light btn">Retour</a>  
    
    <span class="col-sm-6"></span>   
        
    <input id="bouton" type="submit" class="col-sm-4 waves-effect waves-light btn" value="Poursuivre ma commande">
    
{{ form_end(form) }}    

</div>

{% endblock %}    
    
{% block body %} 
    
    
        
{% endblock %}


{% block hidden_part %} 
    
{% endblock %}

